# Connect to Supabase via connection pooling, go to https://supabase.com/dashboard/project/ojklpunqaxhxbfmuvxxf/settings/api-keys

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase Configuration click connect and then go to next.js

DATABASE_URL="postgres://[user].[project-ref]:[password]@[region].pooler.supabase.com:5432/postgres"
# Transaction pooler for app queries (port 6543)
DIRECT_URL="postgres://[user].[project-ref]:[password]@[region].pooler.supabase.com:6543/postgres?pgbouncer=true"

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000